* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

html {
    background-color: #000235;
    height: 1000px;
    scroll-behavior: smooth;    
}

body::-webkit-scrollbar{
    width: 3px;
    background-color: white;
}

body::-webkit-scrollbar-thumb {
    background-color:#8080D7;
    height: 20px;
}

.sticky{
    /* background-color: #AAD9D9;
    padding: 5px;
    width: 100%;
    position: fixed;
    transition: top 0.3s ease-in-out; 
    z-index: 999;
    top: 0; */
    background-color: rgba(0, 0, 0, 0.9); /* Màu nền với độ trong suốt */
    padding: 10px; /* Khoảng cách giữa nội dung và viền */
    width: 100%;
    position: fixed;
    z-index: 1000; /* Đảm bảo hiển thị trên cùng của các phần tử khác */
    top: -50px; /* Điều này ẩn tiêu đề ban đầu khi không "sticky" */
    transition: top 0.2s ease-in-out; /* Hiệu ứng chuyển đổi cho việc hiện/ẩn */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Hiệu ứng bóng */
}

.header {
    padding: 5px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
}

/* btn */
.btn__chevron--down {
    stroke: white;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

.btn__search {
    stroke: white;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}   

/* logo */
.header__logo {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 30px;
}

/* Locations */

.header__locations {
    padding: 5px;
    display: inline-block;
    vertical-align: middle;
    /* width: 400px; */
    text-align: center;
}

.header__location {
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: #8080D7;
    /* height: 26px; */
    padding: 5px;
    width: 200px;
    border-radius: 20px;
    vertical-align: middle;
}

.header__location--city {
    color: white;
}

.header__location--item {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
}



/* Items */
.header__categories {
    width: 700px;
    display: inline-block;
    text-align: center;

}

.header__items {
    width: fit-content;
    display: inline-block;
    text-align: center;
}

.header__item {
    list-style: none;
    display: inline-block;
    padding: 0px 50px;

}

.header__item--link {
    text-decoration: none;
    color: white;
}

.header__item--link {
    padding-bottom: 2px;
    display: inline-block;
}

.header__item--link:active,
.header__item--link:hover {
    color: #EB6809;
    border-bottom: 2px solid #EB6809;
}

/* Search and Login */

.header__funcs {
    width: fit-content;
    display: inline-block;

}

.header__func {
    display: inline-block;
    list-style: none;
    padding: 0px 15px;
}


.header__login--link {
    color: white;
    text-decoration: none;
}

/* Language */
.header__languages {
    /* width: fit-content; */
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}


.header__language--flags {
    width: 25px;
    height: 25px;
    overflow: hidden;
    vertical-align: middle;
}

.header__language--flag {
    border-radius: 150px;
    width: 25px; 
    height: 25px;
}


.header__language {
    display: inline-block;
}

.header__functions {
    display: inline-block;
    text-align: right;
    width: 400px;
}

/* -------------------------------------------- */

.main__section{
    /* text-align: center; */
    justify-content: center;
    padding: 0px 120px 0px 120px;
    position: relative;
}


.section__banner__search {
    width: 100%;
    height: 550px;
    position: relative;
    margin-top: 7%;
}


.main__searchs {
    width: fit-content;
    /* background-color: red; */
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    /* padding: 0px 40px 0px 40px; */
}

.main__search {
    background-color: rgb(255, 255, 255);
    width: 426px;
    height: 45px;
    overflow: hidden;
    position: relative;
    border-radius: 7px;
    text-align: center;

}

.main__search--input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 0px 50px 0px 10px;
    /* background-color: #D9D9D9; */
}


.main__search--icon {
    position: absolute;
    width: 40px;
    height: 45px;
    right: 0;
    top: 0;
    font-size: 15px;
    color: white;
    background-color: #8080D7;
    border: none;
    outline: none;
}

.main__tag {
    height: 100%;
    width: 426px;
    margin: 15px 0px;
    overflow: hidden;
}

.main__tag--item {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.main__tag--items {
    background-color: white;
    color: black;
    width: fit-content;
    padding: 7px;
    border-radius: 7px;
    margin: 5px;
    display: inline-block;
    list-style: none;
}

.main__tag--items:hover, .main__tag--item:hover {
    /* border: 1px solid blue; */
    color: #EB6809;
    /* font-weight: bold; */
    cursor: pointer;
}

.main__banner {
    background-color: white;
    width: 750px;
    height: 500px;
    border-radius: 10px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
}

/* main  chatbox*/

.main-chatbox{
    position: fixed;
    bottom: 0;
    right: 0;
    transition: transform 0.3s ease-in-out; /* Hiệu ứng thay đổi kích thước */
}

.main-chatbox:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.main-chatbox__icon{
    margin: 20px;
    margin-bottom: 40px;
    /* display: none; */
}

.hidden__chatbox{
    display: block;
}



/* main news */

.main__news{
    background-color: white;
    width: 100%;
    height: 800px;
    border-radius: 7px;
}

/* Footer */

.footer{
    background-color: white;
    width: 100%;
    height: 200px;
    margin-top: 50px;
}

